@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Open+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #121212;
  color: white;
  font-family: Open Sans,sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
.main {
  margin: 0 10em;
}
.q {
  font-family: Courier Prime,Open Sans,sans-serif;
  font-size: 1.3em;
}
